<template>
  <LineGenerator
    :chart-options="chartOptions"
    :chart-data="chartData"
    :chart-id="chartId"
    :plugins="plugins"
    :css-classes="cssClasses"
    :styles="styles"
    :width="width"
    :height="height"
  />
</template>

<script lang="ts">
import Vue from 'vue'
import type { PropType } from 'vue'
import { Line as LineGenerator } from 'vue-chartjs'
import {
  Chart as ChartJS,
  Title,
  Tooltip,
  Legend,
  LineElement,
  CategoryScale,
  LinearScale,
  PointElement,
  Plugin,
} from 'chart.js'
import { ChartData, ChartOptions, ChartDataAPI } from '@/types/interfaces/chart'

ChartJS.register(
  Title,
  Tooltip,
  Legend,
  LineElement,
  CategoryScale,
  LinearScale,
  PointElement
)

export default Vue.extend({
  name: 'LineChart',
  components: {
    LineGenerator,
  },
  props: {
    chartId: {
      type: String,
      default: 'line-chart',
    },
    width: Number,
    height: Number,
    cssClasses: {
      default: '',
      type: String,
    },
    styles: {
      type: Object as PropType<Partial<CSSStyleDeclaration>>,
      default: () => {},
    },
    plugins: {
      type: Array as PropType<Plugin<'line'>[]>,
      default: () => [],
    },
    data: Object as PropType<ChartDataAPI>,
  },
  data() {
    const chartData: ChartData = {
      labels: this.data.labels,
      datasets: [
        {
          label: 'Views',
          backgroundColor: '#ea580c',
          borderColor: '#3b82f6',
          borderWidth: 2,
          pointRadius: 4,
          pointHoverRadius: 6,
          fill: false,
          data: this.data.data,
        },
      ],
    }
    const chartOptions: ChartOptions = {
      maintainAspectRatio: false,
      responsive: true,
      tooltips: {
        xPadding: 30,
      },
    }
    return {
      chartData,
      chartOptions,
    }
  },
  mounted() {
    console.log(this.data.data)
    console.log(this.data.labels)
  },
})
</script>
