<template>
  <div class="PageLoading">
    <img src="https://superz.ir/_nuxt/img/logo-vector.91e0683.svg" alt="" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'PageLoading',
  data() {
    return {}
  },
})
</script>

<style>
.PageLoading {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.95);
}

.PageLoading img {
  width: 300px;
  animation: animate 1s linear infinite;
  transition: 0.1s all ease-in-out;
}

@keyframes animate {
  0%,
  100% {
    filter: hue-rotate(0deg);
    transform: scale(1);
  }
  11% {
    filter: hue-rotate(40deg);
  }
  22% {
    filter: hue-rotate(80deg);
  }
  33% {
    filter: hue-rotate(120deg);
  }
  44% {
    filter: hue-rotate(160deg);
  }
  50% {
    transform: scale(1.2);
  }
  55% {
    filter: hue-rotate(200deg);
  }
  66% {
    filter: hue-rotate(240deg);
  }
  77% {
    filter: hue-rotate(280deg);
  }
  88% {
    filter: hue-rotate(320deg);
  }
  99% {
    filter: hue-rotate(360deg);
  }
}
</style>
