<template>
  <div class="TheHeader absolute bg-blue-50 p-5 rounded-lg">
    <div>
      <a href="https://superz.ir">
        <img
          src="https://superz.ir/_nuxt/img/logo-vector.91e0683.svg"
          alt=""
          class="logo h-6"
        />
      </a>
    </div>
    <h4 class="text-xl font-semibold">{{ $store.state.auth.username }}</h4>
    <div class="cursor-pointer" @click="logout">
      <h4
        class="text-lg font-medium text-blue-500 hover:text-blue-600 hover:scale-105"
      >
        logout
        <span class="icon"
          ><font-awesome-icon icon="fa-solid fa-right-from-bracket"
        /></span>
      </h4>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'TheHeader',
  data() {
    return {}
  },
  methods: {
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push('/login')
    },
  },
})
</script>

<style>
.TheHeader {
  max-width: 900px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
.logo {
  filter: hue-rotate(205deg);
}
</style>
