<template>
  <div class="Index">
    <PageLoading v-if="loadingPage" />
    <div class="main_bg"></div>
    <TheHeader />
    <div class="content container relative mt-20 rounded-2xl bg-blue-50">
      <LineChart
        class="line w-full h-full flex justify-center items-center"
        :data.sync="chartData"
        v-if="loaded"
      />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { mapGetters } from 'vuex'
import { ChartDataAPI } from '@/types/interfaces/chart'
import { fetchChartData } from '@/api/chart'
import TheHeader from '@/components/TheHeader.vue'
import LineChart from '~/components/LineChart.vue'
import PageLoading from '~/components/PageLoading.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    TheHeader,
    LineChart,
    PageLoading,
  },
  data() {
    const chartData: ChartDataAPI = { data: [], labels: [] }
    const loaded: boolean = false
    const loadingPage: boolean = true
    return {
      chartData,
      loaded,
      loadingPage,
    }
  },
  computed: {
    ...mapGetters('auth', ['isAuthenticated']),
  },
  mounted() {
    this.loadingPage = true
    this.$store.commit('auth/ON_START')
    this.showChart()
    this.$store.commit('auth/ON_START')
    if (!this.isAuthenticated) this.$router.push('/login')
    this.loadingPage = false
  },
  methods: {
    async showChart() {
      this.chartData = await fetchChartData(this.$axios)
      this.loaded = true
    },
  },
})
</script>

<style>
.Index {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}
.main_bg {
  position: absolute;
  background: url('@/assets/images/storebg2.jpg') rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.7);
}
.content {
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.8);
  height: 80vh;
  padding: 1% 3%;
}

.line canvas {
  height: 100%;
}
</style>
