<template>
  <div class="login">
    <div class="bg"></div>
    <div class="relative py-3 sm:max-w-xl sm:mx-auto z-10">
      <div
        class="absolute inset-0 bg-gradient-to-r from-blue-300 to-blue-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl"
      ></div>
      <div
        class="relative px-4 py-10 bg-blue-50 shadow-lg sm:rounded-3xl sm:p-20"
      >
        <div class="max-w-md mx-auto">
          <div>
            <h1 class="text-3xl font-semibold mb-5">Login Vendor Account</h1>
          </div>
          <div class="divide-y divide-gray-200">
            <div
              class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
            >
              <div class="relative mb-5">
                <input
                  autocomplete="off"
                  id="username"
                  name="username"
                  type="text"
                  class="peer placeholder-transparent h-10 w-full border-b-2 bg-blue-50 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-500"
                  placeholder="Vendor name"
                  v-model="login.vendor_name"
                />
                <label
                  for="username"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"
                  >Vendor Name</label
                >
              </div>
              <div class="relative">
                <input
                  autocomplete="off"
                  id="password"
                  name="password"
                  type="password"
                  class="peer placeholder-transparent h-10 w-full border-b-2 bg-blue-50 border-gray-300 text-gray-900 focus:outline-none focus:border-blue-500"
                  placeholder="Password"
                  v-model="login.password"
                />
                <label
                  for="password"
                  class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-440 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm"
                  >Password</label
                >
              </div>
              <div class="relative">
                <button
                  class="bg-blue-500 text-white rounded-md px-2 py-1 mt-5 hover:bg-blue-600 hover:scale-105 transition-all"
                  @click="doLogin"
                >
                  Submit
                </button>
              </div>
              <div class="mt-8 flex justify-center items-center flex-col">
                <h4 class="text-red-500 font-medium mb-5" v-if="error.detail">
                  {{ error.detail }}
                </h4>
                <svg
                  role="status"
                  class="inline w-10 h-10 mr-2 text-gray-200 animate-spin fill-blue-600"
                  viewBox="0 0 100 101"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                  v-if="loading"
                >
                  <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor"
                  />
                  <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { LoginUser } from '../types/interfaces/auth'
import { LoginError } from '../types/interfaces/errors'

export default Vue.extend({
  name: 'Login',
  data() {
    const login: LoginUser = { vendor_name: '', password: '' }
    const error: LoginError = { detail: null }
    const loading: boolean = false
    return {
      login,
      error,
      loading,
    }
  },
  methods: {
    async doLogin() {
      this.loading = true
      this.error = await this.$store.dispatch('auth/login', this.login)
      if (!this.error.detail) this.$router.push('/')
      this.loading = false
    },
  },
})
</script>

<style>
.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.bg {
  position: absolute;
  background: url('@/assets/images/storebg.jpg') rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  filter: brightness(0.4);
}
</style>
